.profilePic {
  position: relative;
  cursor: pointer;
  svg {
    fill: none;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    position: absolute;
    top: 0;
  }
  .imgContainer {
    position: relative;
    width: 15rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  img {
    position: absolute;
    // left: 50%;
    // top: 50%;
    // transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &.size-1 {
    width: 16.8rem;
    height: 16.8rem;
    img,
    .imgContainer {
      width: 15rem;
      height: 15rem;
    }
  }
  &.size-1-5 {
    width: 9rem;
    height: 9rem;
    img,
    .imgContainer {
      width: 7.8rem;
      height: 7.8rem;
    }
  }
  &.size-2 {
    width: 6.5rem;
    height: 6.5rem;
    img,
    .imgContainer {
      width: 5.6rem;
      height: 5.6rem;
    }
    svg {
      stroke-width: 3.5;
    }
  }
  &.size-3 {
    width: 5.4rem;
    height: 5.4rem;
    img,
    .imgContainer {
      width: 4.4rem;
      height: 4.4rem;
    }
    svg {
      stroke-width: 3.5;
    }
  }
  &.size-4 {
    width: 4.2rem;
    height: 4.2rem;
    img,
    .imgContainer {
      width: 3.2rem;
      height: 3.2rem;
    }
    svg {
      stroke-width: 4;
    }
  }
  &.size-4-5 {
    // width: 4.2rem;
    // height: 4.2rem;
    width: 2.8rem;
    height: 2.8rem;
    img,
    .imgContainer {
      width: 2.8rem;
      height: 2.8rem;
    }
    svg {
      stroke-width: 4;
    }
  }
  &.size-5 {
    width: 2.4rem;
    height: 2.4rem;
    img,
    .imgContainer {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  &.size-6 {
    width: 2rem;
    height: 2rem;
    img,
    .imgContainer {
      width: 2rem;
      height: 2rem;
    }
  }
}
@keyframes stroke-draw {
  from {
    stroke: #7638fa;
    stroke-dasharray: 1;
  }
  to {
    stroke: #ff0069;
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}

.storySeen {
  circle {
    stroke: var(--bg-c-2);
  }
}
.animateCircle {
  animation: stroke-draw 2s ease-out reverse;
}

// .someIMG {
//   // top: 50% !important;
//   // left: 50% !important;
//   // transform: translate(-50%, -50%) !important;
//   > img {
//     top: 50% !important;
//     left: 50% !important;
//     transform: translate(-50%, -50%) !important;
//     z-index: -2;
//     width: 4rem !important;
//     height: 4rem !important;
//   }
// }

.testProfilePic {
  width: 16.8rem;
  height: 16.8rem;
  // position: relative;
  svg {
    fill: none;
    stroke-linecap: round;
    stroke-width: 2;
    stroke-dasharray: 1;
    stroke-dashoffset: 0;
    position: absolute;
    top: 0;
  }
  .imgContainer {
    position: relative;
    width: 15rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      width: 15rem;
      height: 15rem;
      position: absolute;
      border-radius: 50%;
    }
  }
}
