.button {
  border: none;
  outline: none;
  padding: 0.5em 2em;
  width: auto;
  font-weight: 500;
  border-radius: 0.8rem;
  cursor: pointer;
  &.size-1 {
    font-size: 1.2rem;
  }
  &.size-2 {
    font-size: 1.4rem;
  }
  &.size-3 {
    font-size: 1.6rem;
  }
  &.size-4 {
    font-size: 1.8rem;
  }
  &:disabled {
    opacity: 0.7;
    cursor: auto;
  }
}
.mainShape {
  color: #fff;
  font-weight: 600;
}
.secondaryShape {
  color: var(--helper-primary) !important;
  background-color: transparent;
  border: none !important;
  font-size: 1.2rem;
  padding: 0;
}
.mainColor {
  background-color: var(--helper-primary);
  border: 1px solid var(--helper-primary);
}
.secondaryColor {
  background-color: transparent;
  color: var(--txt-c-1);
  border: 1px solid var(--txt-c-3);
}

.secondaryShape.secondaryColor.notFocus {
  // color: green !important;
  opacity: 0.3;
  pointer-events: none;
}
.bold {
  font-weight: 600;
}
