@import "../../styles//include-media.scss";

.profileHeader {
  margin-top: 7rem;
  margin-bottom: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--txt-c-1);
  .profilePicContainer {
    max-width: 32.4rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .userInfo {
    width: 100%;
    font-weight: 300;
    .userName_Follow_Container {
      display: flex;
      align-items: center;
      padding: 2rem 0;
      > svg {
        circle {
          fill: var(--txt-c-1);
        }
      }
      .userName {
        font-size: 3rem;
        font-weight: 300;
        margin-right: 2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .stats {
      display: flex;
      margin: 1rem 0 2rem;
      > div {
        margin-right: 4rem;
        span {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }
  }
}

.imgSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem 0.2rem;
  > div {
    background-color: #facbcd;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:hover .CmntLikesLayer {
      display: flex;
    }
  }
}

.CmntLikesLayer {
  background-color: #00000069;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  > div {
    display: flex;
    align-items: center;
    padding: 1rem;
    transform: scale(0.9);
  }
  svg {
    margin-right: 0.8rem;
  }
  svg path {
    fill: #fff;
    stroke: #fff;
  }
}

.zeroImgContainer {
  background-color: var(--bg-c-1);
  padding-top: 0;
  border-radius: 0.4rem;
  > div:nth-child(1) {
    color: var(--txt-c-1);
    text-align: center;
    padding: 2rem;
    h3 {
      font-size: 1.7rem;
      font-weight: 500;
      padding: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .imgContainer {
    position: relative;
    aspect-ratio: 1;
    img {
      position: absolute;
    }
  }
  @include media(">tablet") {
    margin: 2rem;
  }

  @include media(">laptop") {
    margin: 2rem;
    display: flex;
    align-items: center;
    > div:nth-child(1) {
      order: 1;
      width: 100%;
    }
    .imgContainer {
      width: 380px;
      height: 380px;
    }
  }
}
