@import "../../styles//include-media.scss";

.profileHeader {
  margin-top: 7rem;
  // margin-bottom: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  color: var(--txt-c-1);
  grid-template-areas:
    "profilePic userNameFollow userNameFollow"
    "profilePic stats stats"
    "profilePic fullName fullName"
    "profilePic bio bio";
  @include media("<tablet") {
    grid-template-columns: min-content;
    grid-template-areas:
      "profilePic userNameFollow userNameFollow"
      "fullName fullName fullName"
      "bio bio bio"
      "stats stats stats";
  }
  @include media("<=phone") {
    // padding: 0 1rem;
  }
  .profileButtons {
    display: flex;
    align-items: center;
    .dots {
      circle {
        fill: var(--txt-c-1);
        stroke: var(--txt-c-1);
      }
    }
    svg {
      circle {
        stroke: var(--txt-c-1);
      }
      path {
        stroke: var(--txt-c-1);
      }
    }
  }
  .profilePicContainer {
    max-width: 32.4rem;
    width: 100%;
    grid-area: profilePic;
    @include media("<=tablet") {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include media("<=phone") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    > div:nth-child(1) {
      margin: 0 auto;
      @include media("<tablet") {
        display: none;
      }
    }
    > div:nth-child(2) {
      margin: 0;
      margin-right: 2rem;
      @include media(">=tablet") {
        display: none;
      }
    }
  }
  .bio {
    grid-area: bio;
    @include media("<=tablet") {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include media("<=phone") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include media("<tablet") {
      font-size: 1.4rem;
      padding-bottom: 1rem;
    }
  }
  // .userInfo {
  //   width: 100%;
  //   font-weight: 300;
  // }
  .userName_Follow_Container {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    grid-area: userNameFollow;
    @include media("<=phone") {
      font-size: 2.5rem;
      padding: 0;

      // text-overflow: ellipsis;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    > svg {
      circle {
        fill: var(--txt-c-1);
      }
    }
    .userName {
      font-size: 3rem;
      font-weight: 300;
      margin-right: 2rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include media("<tablet") {
        font-size: 2.5rem;
      }
      @include media("<=phone") {
        padding: 1rem 0;
      }
    }
  }
  .fullName {
    grid-area: fullName;
    font-weight: 500;
    padding: 1rem 0;
    @include media("<=tablet") {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include media("<=phone") {
      padding-left: 1rem;
      padding-right: 1rem;
    }
    @include media("<tablet") {
      font-size: 1.5rem;
    }
  }
  .stats {
    display: flex;
    margin: 1rem 0 2rem;
    grid-area: stats;
    @include media("<tablet") {
      margin: 0;
      padding: 1rem 0;
      border-top: 1px solid var(--txt-c-3);
    }
    > div {
      margin-right: 4rem;
      display: flex;
      @include media("<tablet") {
        // font-size: 2.5rem;
        flex-direction: column;
        align-items: center;
        margin: 0;
      }
      .numbers {
        font-size: 1.5rem;
        font-weight: 500;
      }
      span {
        margin: 0 0.2rem;
        display: block;
        @include media("<tablet") {
          font-size: 1.3rem !important;
          margin: 0.2rem 0;
          &:nth-child(2) {
            color: var(--txt-c-2);
          }
        }
        // &:nth-child(2) {
        //   @include media("<tablet") {
        //     font-size: 1.5rem;
        //   }
        // }
      }
    }
    @include media("<tablet") {
      justify-content: space-around;
    }
  }
}

.imgSection {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem 0.2rem;
  > div {
    background-color: #b0b0b0;
    aspect-ratio: 1;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &:hover .CmntLikesLayer {
      display: flex;
    }
  }
}

.CmntLikesLayer {
  background-color: #00000069;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
  > div {
    display: flex;
    align-items: center;
    padding: 1rem;
    transform: scale(0.9);
  }
  svg {
    margin-right: 0.8rem;
  }
  svg path {
    fill: #fff;
    stroke: #fff;
  }
}

.zeroImgContainer {
  background-color: var(--bg-c-1);
  padding-top: 0;
  border-radius: 0.4rem;
  margin-top: 0;
  > div:nth-child(1) {
    color: var(--txt-c-1);
    text-align: center;
    padding: 2rem;
    h3 {
      font-size: 1.7rem;
      font-weight: 500;
      padding: 2rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
  .imgContainer {
    position: relative;
    aspect-ratio: 1;
    img {
      position: absolute;
    }
  }
  @include media(">tablet") {
    margin: 2rem;
    margin-top: 0;
  }

  @include media(">laptop") {
    // margin: 2rem ;
    display: flex;
    align-items: center;
    > div:nth-child(1) {
      order: 1;
      width: 100%;
    }
    .imgContainer {
      width: 380px;
      height: 380px;
    }
  }
}

.tabsContainer {
  display: flex;
  align-items: center;
  gap: 5rem;
  justify-content: center;
  border-top: solid 1px var(--txt-c-4);
  margin: 2rem 2rem 0;
  @include media("<=tablet") {
    margin: 0;
    border: solid 1px var(--txt-c-4);
    padding: 1rem 0;
    justify-content: space-around;
  }
}
.tab {
  cursor: pointer;
  .bigIconContainer {
    display: none;
    align-items: center;
    @include media("<=tablet") {
      display: flex;
    }
  }

  .smallIconContainer {
    display: none;
    align-items: center;
    font-weight: 500;
    gap: 0.8rem;
    color: var(--txt-c-2);
    padding: 2rem 0;
    transform: translateY(-1px);
    span {
      font-size: 1.3rem;
      text-transform: uppercase;
    }
    @include media(">tablet") {
      display: flex;
    }
  }
  &.active .smallIconContainer {
    color: var(--txt-c-1);
    border-top: solid 1px var(--txt-c-1);
    circle {
      stroke: var(--txt-c-1);
    }
    path {
      stroke: var(--txt-c-1);
      &:nth-child(3) {
        fill: var(--txt-c-1);
      }
    }
  }
  &.active .bigIconContainer {
    circle {
      stroke: var(--helper-primary);
    }
    path {
      stroke: var(--helper-primary);
      &:nth-child(3) {
        fill: var(--helper-primary);
      }
    }
  }
}

.tabsContentContainer {
  width: 100%;
  color: var(--txt-c-1);
  text-align: center;
  padding: 2rem 1rem;
  .circle {
    border-radius: 50%;
    border: solid 2px var(--txt-c-1);
    width: 6.2rem;
    height: 6.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem auto 2rem;
  }
  svg {
    path {
      stroke: var(--txt-c-1);
      stroke-width: 1;
    }
    circle {
      stroke: var(--txt-c-1);
      stroke-width: 1;
    }
  }
  .bigText {
    font-size: 2.4rem;
    font-weight: 300;
    padding: 1rem 0;
  }
  p {
    font-size: 1.4rem;
    font-weight: 300;
    padding: 1rem 0;
    max-width: 35rem;
    width: 100%;
    margin: 0 auto;
  }
}

.PrivateProfile {
  width: 100%;
  background-color: var(--bg-c-1);
  text-align: center;
  padding: 1rem;
  margin: 2rem 0;
  border: 1px solid var(--txt-c-5);
  color: var(--txt-c-1);

  h2 {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 2rem 0;
  }
  div {
    font-size: 1.4rem;
    width: 100%;
    max-width: 22rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    line-height: 22px;
  }
}
