@import "../../styles/include-media.scss";
.nav {
  box-shadow: var(--txt-c-3) 0 0.1rem;
  width: 100%;
  position: fixed;
  top: 0;
  // background-color: rgb(174, 237, 86);
  background-color: var(--bg-c-1);
  z-index: 5;
  @include media("<desktop") {
    padding: 0 1rem;
  }
}
.container {
  justify-content: space-between;
  align-items: center;
  .child {
    display: flex;
    flex: 1 0 8.5rem;
    &.child:nth-child(1) {
    }
    &.child:nth-child(2) {
      width: 20rem;
      min-width: 15rem;
      flex-basis: 0;
      @include media("<tablet") {
        display: none;
      }
    }
    &.child:nth-child(3) {
      padding-left: 0;
      justify-content: flex-end;
      @include media("<tablet") {
        display: none;
      }

      > svg {
        margin-left: 2.5rem;
        path {
          stroke: var(--txt-c-1);
        }
      }
    }
  }
  .tabletNavTopRight {
    display: flex;
    svg {
      margin-left: 2rem;
      path,
      circle {
        stroke: var(--txt-c-1);
      }
    }
    @include media(">=tablet") {
      display: none;
    }
  }
}
.logo {
  width: 10rem;
  cursor: pointer;
  padding: 1.5rem 0;
  @include media("<=phone") {
    padding: 0.8rem 0;
  }
  > path {
    fill: var(--txt-c-1);
  }
}
.activeIcons {
  path {
    fill: var(--txt-c-1);
  }
}
.search {
  position: relative;
  width: 100%;
  color: var(--txt-c-2);
  input {
    border: none;
    outline: none;
    position: relative;
    z-index: 2;
    font-size: 16px;
    color: var(--txt-c-1);
    &::placeholder {
      color: var(--txt-c-2);
      font-size: 14px;
    }
  }
  .fakeInput {
    height: 100%;
    position: absolute;
    z-index: 3;
    font-size: 14px;

    svg {
      margin-right: 14px;
    }
  }
  input,
  .fakeInput {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--bg-c-2);
    padding: 1rem 1.4rem;
    border-radius: 0.8rem;
    cursor: text;
  }
  .hideFakeInput {
    display: none;
  }
}
.closeSearch {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  border-radius: 50%;
  background-color: var(--txt-c-2);
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  span {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &:before,
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 0.9rem;
      height: 0.1rem;
      background-color: var(--bg-c-1);
      transform-origin: 0 center;
      top: 50%;
      left: 50%;
    }

    &:before {
      transform: rotate(45deg) translate(-50%, -50%);
    }
    &:after {
      transform: rotate(-45deg) translate(-50%, -50%);
    }
  }
}

.toggler {
  position: absolute;
  right: 30px;
}
.profilePicContainer {
  position: relative;
  margin-left: 2rem;
  cursor: pointer;
}
// .profilePic {
//   width: 3rem;
//   height: 3rem;
//   border-radius: 50%;
//   overflow: hidden;
// }
@mixin dropTriangle($right) {
  content: "";
  position: absolute;
  top: -1rem;
  right: $right;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid var(--bg-c-1);
  // box-shadow: black 0 0 1px;
  filter: drop-shadow(0 -0.1rem 0.1rem var(--txt-c-3));
}
@mixin shadowBorder {
  box-shadow: var(--txt-c-3) 0 0 0.2rem;
}
.dropDown {
  position: absolute;
  top: 4rem;
  left: -16.5rem;
  width: 20rem;
  border-radius: 0.5rem;
  color: var(--txt-c-1);
  background-color: var(--bg-c-1);
  transition: 0.1s transform;
  transform-origin: top;
  z-index: 3;
  @include shadowBorder;
  &.close {
    transform: scaleY(0);
  }
  &::before {
    @include dropTriangle(1.3rem);
    // right: 1rem;
  }
  li {
    list-style: none;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: var(--bg-c-2);
    }
    &:active {
      background-color: var(--txt-c-3);
    }
    &:last-child {
      box-shadow: var(--txt-c-3) 0 -0.1rem 0.1rem;
    }
    a {
      display: flex;
      align-items: center;
    }
    svg {
      display: block;
      path,
      circle {
        stroke: var(--txt-c-1);
      }
    }
    span {
      display: block;
      margin-left: 1rem;
    }
  }
}

.searchDropdown {
  position: absolute;
  top: 5rem;
  left: 50%;
  transform: translateX(-50%) scaleY(0);
  height: 35rem;
  width: 35rem;
  background-color: var(--bg-c-1);
  border-radius: 0.5rem;
  transition: 0.1s transform;
  transform-origin: top;

  @include shadowBorder;
  &.open {
    transform: translateX(-50%) scale(1);
  }
  &::before {
    @include dropTriangle(50%);
  }
}

.recentContainer {
  width: 100%;
  height: 100%;
  // padding: 2rem 0rem;
  .recent {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    color: var(--txt-c-1);
    padding: 1.5rem 1rem;
  }
}

.userSearch {
  display: flex;
  font-size: 1.3rem;
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1rem;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-c-2);
  }
  .imgContainer {
    margin-right: 1rem;
  }
}

.searchUserCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-left: 1rem;
}
.userName {
  color: var(--txt-c-1);
  font-weight: 500;
}

.phoneNav {
  @include media(">=tablet") {
    display: none;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 500;
  background-color: var(--bg-c-1);
  padding: 0.5rem 1rem;
  box-shadow: 0 0 1px var(--txt-c-2);
  svg path {
    stroke: var(--txt-c-1);
  }
}
