@import "./../../styles/include-media.scss";
.SemiTransparentLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  // background-color: rgba(0, 0, 0, 0.603);
  background-color: var(--transparent-layer);
  z-index: 100;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media("<tablet") {
    overflow-y: hidden;
  }
}
.popupContainer {
  background-color: var(--bg-c-1);
  width: 500px;
  height: 500px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  @include media("<=tablet") {
    width: 100%;
    height: calc(100% - 52px);
    border-radius: 0;
    transform: translateY(-2.6rem);
  }
  @include media(">tablet") {
    margin: 1rem;
  }
}

.alertMessage {
  color: #fff;
  background-color: rgba(26, 26, 26, 0.8);
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  pointer-events: none;
  z-index: 10;
  // transition-delay: 1s;
  transition: opacity 1s;
}
.popUpHeader {
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight: 500;
  padding: 1.2rem 1rem;
  box-shadow: 0 0 0 0.02rem var(--txt-c-2);
  color: var(--txt-c-1);
  overflow: hidden;
  flex-shrink: 0;
}
.likesBody {
  @include media(">=tablet") {
    width: 40rem;
    height: 40rem;
  }
}
.likesContainer {
  padding: 1rem;
  overflow-y: scroll;
  height: 100%;
  .likedUser {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 0;
  }
}

.ShareContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  .friendListToSend {
    height: 100%;
    overflow-y: scroll;
    padding: 1rem;
    > div {
      padding: 0.5rem 0;
    }
  }
  .search {
    margin: 1rem;
    margin-top: 0;
    background-color: var(--bg-c-2);
    display: flex;
    align-items: center;
    border-radius: 0.8rem;
    padding-left: 1rem;
    input {
      width: 100%;
      color: var(--txt-c-1);
      background-color: transparent;
      outline: none;
      border: none;
      padding: 1.2rem;
    }
  }
  .writeSomething {
    width: 100%;
    display: flex;
    padding: 1rem;
    color: var(--txt-c-1);

    .minimizedPostPicContainer {
      img {
        border-radius: 0.6rem;
        height: 5rem;
      }
    }
    textarea {
      height: 5rem;
      font-family: inherit;
      color: inherit;
      background-color: transparent;
      font-size: 1.6rem;
      max-height: 20rem;
      border: none;
      outline: none;
      display: block;
      resize: none;
      flex: 1;
      padding: 1.5rem 1rem;
    }
  }
}

.followPopup {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  height: 100%;
  .switch {
    display: flex;
    align-items: center;
    color: var(--txt-c-1);
    > div {
      width: 50%;
      text-align: center;
      padding: 1rem;
      font-weight: 500;
      border-bottom: solid 2px var(--txt-c-4);
      cursor: pointer;
    }
    .active {
      border-bottom-color: var(--txt-c-2);
      // border-bottom-color: red;
    }
  }
}
.followerCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.outsideX {
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
  path {
    stroke: #fff;
  }
}

.stepContainer {
  width: 83rem;
  height: 83rem;
  aspect-ratio: 1;
  position: relative;
  // max-width: 83rem;
  // max-height: 83rem;
  @include media("<=laptop") {
    width: 76rem;
    height: 76rem;
  }
  @include media("<tablet") {
    width: 100%;
    height: 100%;
  }
}
.previewAndSidebarContainer {
  transition: 0.2s;
  display: flex;
  @include media("<tablet") {
    flex-direction: column;
    overflow-y: auto;
    // width: 100%;
    // height: 100%;
  }
}
.importImgStep {
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .PicVidIcon {
    path {
      fill: var(--txt-c-1);
    }
  }
  .dragPhotosAndVideosParent {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 300;
  }
}

.changeSvgColor {
  path {
    fill: var(--helper-primary) !important;
  }
}
.oneToOne {
  width: 100%;
  aspect-ratio: 1;
}
.fourToFive {
  aspect-ratio: 4/5;
  height: 100%;
  @media (max-width: 1030px) {
    &.responsive {
      width: 100%;
      height: auto;
    }
  }
}
.sixteenToNine {
  width: 100%;
  aspect-ratio: 16/9;
}
.cropContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  .cropArea {
    background-color: var(--bg-c-1);
    touch-action: none;
    // transition: 0.1s;
    // transition-delay: 0.2s;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    &:active {
      cursor: grabbing;
      cursor: -webkit-grabbing;
      cursor: -moz-grabbing;
    }

    .imgToCrop {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
      background-position: center center;
      flex-shrink: 0;
    }
    .videoCrop {
      // width: 100%;
      // height: 100%;
    }
  }

  .grid {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border: 1px solid #ffffff7a;
    .line {
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #ffffff7a;
    }
    .horizontal {
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #ffffff7a;
    }
  }
}

.postStepsBody {
  @include media(">=tablet") {
    width: auto;
    height: auto;
  }
}
// .bottomBtnsContainer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   > div {
//     position: relative;
//     width: 100%;
//   }
// }

.iconPopup {
  position: absolute;
  bottom: 2rem;
  .iconContainer {
    &.active {
      > div {
        background-color: #fff;
        box-shadow: 1px 1px 10px#ddd;
        path {
          fill: #000;
        }
      }
    }
  }
}

.iconOpacity {
  opacity: 0.1;
}

.dropUp {
  position: absolute;
  background-color: rgba(26, 26, 26, 0.8);
  bottom: 5rem;
  left: 0;
  border-radius: 0.7rem;
  &.showDropup {
    pointer-events: all;
    opacity: 1;
  }
  &.hideDropup {
    pointer-events: none;
    opacity: 0;
  }
}
.dropUpIElmContainer {
  list-style-type: none;
  width: 12rem;
  li {
    padding: 1.2rem;
    padding-left: 1.5rem;
    border-bottom: solid rgb(142, 142, 142) 1px;
    color: rgb(142, 142, 142);
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:last-child {
      border-bottom: none;
    }
    > div {
      margin-right: 0.5rem;
    }
    &.active {
      color: #fff;
      path {
        stroke: #fff;
      }
    }
  }
}

.nextPrevStepHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  // background-color: red;
  .crossX {
    background-color: red;
    @include media(">=tablet") {
      // display: none !important;
      visibility: hidden;
      pointer-events: none;
    }
  }
  .unvisible {
    visibility: hidden;
    pointer-events: none;
  }
  .leftArrow {
    path {
      fill: var(--txt-c-1);
    }
  }
}

.smallPopupContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--transparent-layer);
  z-index: 500;
}

.smallPopup {
  background-color: var(--sm-popup-bg);
  text-align: center;
  border-radius: 1rem;
  width: 100%;
  max-width: 40rem;
  margin: 1rem;
  li {
    color: var(--txt-c-1);
    list-style: none;
    cursor: pointer;
    padding: 1.5rem;
    border-top: 1px solid var(--txt-c-4);
    font-size: 1.4rem;
    &.borderTop {
      border-top: 1px solid var(--txt-c-4) !important;
    }
    &:nth-child(1) {
      border-top: none;
    }
  }
  .titleOrPic {
    font-size: 1.8rem;
    padding-bottom: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

    li:nth-child(1) {
      border-top: 1px solid var(--txt-c-4) !important;
      background-color: red;
    }
  }
  p {
    font-size: 1.3rem;
    color: var(--txt-c-2);
  }
  .danger {
    color: var(--helper-danger);
    font-weight: 600;
  }
}

.addPostSlide {
  border-radius: 1rem;
  height: 12rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-left: solid 1rem transparent;
  border-right: solid 1rem transparent;
  justify-content: flex-end;
  .arrow {
    position: absolute;
    transform: scale(0.8);
    &.left {
      left: 0;
    }
    &.right {
      right: 0;
    }
  }
  .groupContaienr {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  .addFileButtonContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
    .circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.6rem;
      height: 4.6rem;
      border-radius: 50%;
      border: solid 1px #fff;
      &:active {
        background-color: #fff;
      }
    }
  }
  .slideContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // overflow: hidden;
    transition: 0.3s;
    gap: 1.3rem;
    width: 100%;
    .slideItem {
      width: 9.5rem;
      height: 9.5rem;
      flex-shrink: 0;
      overflow: hidden;
      cursor: pointer;
      filter: brightness(0.6);
      position: relative;
      > .images {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: 0.2s;
      }
      > .crossIconContainer {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &:active > .images {
        transform: scale(1.3);
        opacity: 0.6;
      }
      &:active > .crossIconContainer {
        // display: none;
        opacity: 0;
      }
    }
  }
}

.sidebarContainer {
  width: 0;
  height: 0;
  transition: width 0.3s;
  flex-shrink: 0;
  opacity: 0;
  pointer-events: none;
  .tabs {
    display: flex;
    border-bottom: 1px solid var(--txt-c-4);
    margin-bottom: 1rem;
    > div {
      cursor: pointer;
      flex-grow: 1;
      text-align: center;
      padding: 1.8rem 0;
      transform: translateY(1px);
      transition: 0.3s;
      font-weight: 500;
      color: var(--txt-c-2);
      border-bottom: 1px solid transparent;
      &.selectedTab {
        color: var(--txt-c-1);
        border-color: var(--txt-c-1);
      }
    }
  }
  .editSideBarContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .bottomRangeContainer {
    padding: 2.3rem 1.6rem;
    border-top: 1px solid var(--txt-c-4);
    display: flex;
    align-items: center;
    margin-top: auto;
  }
  .RangeValueContainer {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin: 2.6rem 0;
  }
  .numberValue {
    font-size: 1.2rem;
    margin-left: 1rem;
    color: var(--txt-c-2);
    &.changed {
      color: var(--txt-c-1);
    }
  }
  .inContainer {
    width: calc(34rem - 16px);
    @include media("<tablet") {
      width: 100%;
      // height: 100%;
    }
  }
  &.sidebarFullWidth {
    opacity: 1 !important;
    pointer-events: all !important;
    width: 34rem;
    height: auto;
    border-left: solid 1px var(--txt-c-4);
    @include media("<tablet") {
      width: 100%;
      // height: 100%;
    }
  }
  .filtersSction {
    width: 100%;
    &::-webkit-scrollbar {
      height: 1px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(252, 252, 252, 0) !important;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 0px;
      background: var(--txt-c-2);
    }
    @include media("<tablet") {
      overflow-x: scroll;
    }
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0.8rem;
    @include media("<tablet") {
      justify-content: left;
      justify-content: space-around;
      // gap: 2rem;
      // height: 100%;
      width: calc(8.8rem * 12 + 12rem);
    }
  }
  .filterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33333%;
    cursor: pointer;
    @include media("<tablet") {
      width: 8.8rem;
      // height: 8.8rem;
      // width: auto;
      // height: 100%;
    }
    &:active {
      opacity: 0.7;
      .filterConainerImg {
        transform: scale(0.95);
      }
    }
    &.selected {
      .filterConainerImg {
        outline: 2px solid var(--helper-primary);
      }
      .filterName {
        color: var(--helper-primary);
        font-weight: 500;
      }
    }
  }
  .filterConainerImg {
    height: 8.8rem;
    border-radius: 4px;
    overflow: hidden;
  }
  .filterName {
    font-size: 1.3rem;
    margin-top: 0.8rem;
    margin-bottom: 1.6rem;
    color: var(--txt-c-2);
  }
  .AdjustmentsSection {
    padding: 1.6rem;
    .RangeUnit {
      margin: 1rem 0;
      &:hover .RangeReset {
        display: block;
      }
    }
    .RangeUnitTop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .RangeHeader {
      text-transform: capitalize;
      color: var(--txt-c-1);
    }
    .RangeReset {
      font-size: 1.3rem;
      font-weight: 500;
      color: var(--helper-primary);
      display: none;
      cursor: pointer;
    }
  }
}
.EditStep {
  width: 83rem;
  height: 83rem;
  position: relative;
  @include media("<tablet") {
    width: 100%;
    height: 100%;
  }
  .previewVidContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    video {
      position: absolute;
    }
    .playBtnImg {
      position: relative;
      width: 8rem;
      height: 8rem;
      pointer-events: none;
    }
  }
  .canvasVidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  canvas {
    transform-origin: center;
    // background-color: red;
    // height: 100%;
  }
}
.editVideoContainer {
  width: 100%;
  padding: 1rem;
  .editSectionTitle {
    font-size: 1.6rem;
    padding: 2rem 0;
  }
  .oneFrame {
    width: calc(100% / 5);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.chooseThumbnailContainer {
  .thumbnailFrames {
    height: 100px;
  }
}
.thumbnailFrames {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.6rem;
}
.Trim {
  width: 100%;
  .thumbnailFrames {
    height: 6.4rem;
  }
}
