.switchLabel {
  display: flex;
  border-radius: 5rem;
  overflow: hidden;
  position: relative;
  justify-content: space-between;
  background-color: rgb(142, 142, 142);
  transition: 0.3s;
  cursor: pointer;
  &.normal {
    --nl-w: 4rem;
    --nl-h: 2rem;
    width: var(--nl-w);
    height: var(--nl-h);
    .circle {
      --nl-pad-x: 0.3rem;
      --nl-cicle-w-h: calc(var(--nl-h) - 0.4rem);
      height: var(--nl-cicle-w-h);
      left: var(--nl-pad-x);
    }
  }
  &.large {
    --lg-w: 4.4rem;
    --lg-h: 2.8rem;
    width: var(--lg-w);
    height: var(--lg-h);
    .circle {
      --lg-pad-x: 0.3rem;
      --lg-cicle-w-h: calc(var(--lg-h) - 0.6rem);
      height: var(--lg-cicle-w-h);
      left: var(--lg-pad-x);
    }
  }
  .circle {
    position: absolute;
    top: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s;
    transform: translate(0, -50%);
  }
}
.checkboxInput {
  display: none;
}
.checkboxInput:checked ~ .switchLabel {
  background-color: var(--helper-primary);
  &.large {
    .circle {
      transform: translate(100%, -50%);
    }
  }
  &.normal .circle {
    transform: translate(
      calc(var(--nl-w) - var(--nl-cicle-w-h) - var(--nl-pad-x) * 2),
      -50%
    );
  }
  &.large .circle {
    transform: translate(
      calc(var(--lg-w) - var(--lg-cicle-w-h) - var(--lg-pad-x) * 2),
      -50%
    );
  }
}
.something {
  height: 2rem;
  width: 2rem;
}

.inputRange {
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
  height: 0.2rem;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumbSize);
    height: var(--thumbSize);
    border-radius: 50%;
    background-color: var(--thumbColor);
  }
  &.left {
    background: linear-gradient(
      to right,
      var(--txt-c-1) 0%,
      var(--txt-c-1) 50%,
      var(--txt-c-3) 50%,
      var(--txt-c-3) 100%
    );
  }
  &.mid {
    background: linear-gradient(
      to right,
      var(--txt-c-3) 0%,
      var(--txt-c-3) 10%,
      var(--txt-c-1) 10%,
      var(--txt-c-1) 50%,
      var(--txt-c-3) 50%,
      var(--txt-c-3) 100%
    );
  }
}

.fileInputForm {
  visibility: hidden;
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  input {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.textareaContainer {
  width: 100%;
  // margin: 2rem 0 1rem;
  textarea {
    background-color: var(--bg-c-1);
    width: 100%;
    border: 1px solid var(--txt-c-4);
    border-radius: 0.4rem;
    height: 6rem;
    outline: none;
    color: var(--txt-c-1);
    font-family: inherit;
    font-size: 1.5rem;
    resize: vertical;

    &::placeholder {
      color: var(--txt-c-2);
    }
    &:focus {
      border-color: var(--txt-c-1);
      ::placeholder {
        color: var(--txt-c-1);
      }
    }
    &.notResize {
      resize: none;
    }
    &.noBorder {
      border: none;
    }
    &.fixedHeight {
      height: 17.4rem;
    }
  }
  .taBottomPart {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.6rem;
    .FaceEmoji {
      transform: scale(0.9);
      path {
        fill: var(--txt-c-2);
        // fill: red;
      }
    }
    .charCounter {
      color: var(--txt-c-2);
      font-size: 1.3rem;
      &:hover {
        color: var(--txt-c-1);
      }
      &.danger {
        color: var(--helper-danger);
      }
    }
  }
}

.input {
  width: 100%;
  display: block;
  outline: none;
  border: none;
  color: var(--txt-c-1);
  &:disabled {
    background-color: var(--bg-c-2) !important;
    cursor: not-allowed;
    // background-color: red;
  }
  &.normal {
    display: block;
    height: 3.2rem;
    padding: 0 1rem;
    border-radius: 3px;
  }
  &.large {
    line-height: 3rem;
    padding: 4px 12px;
    border-radius: 6px;
  }
  &.placeHLG {
    &::placeholder {
      font-size: 1.6rem;
      color: var(--txt-c-3);
    }
  }
  &.placeHSM {
    &::placeholder {
      font-size: 1.4rem;
      color: var(--txt-c-3);
    }
  }
  &.light {
    background: var(--bg-c-1);
  }
  &.dark {
    background: var(--bg-c-3);
  }
  &.border {
    border: solid 1px var(--txt-c-4);
    &:focus {
      border-color: var(--txt-c-2);
      // background-color: red;
    }
  }
}

.radioConrainer {
  input {
    display: none;
    &:checked ~ .radioLabel .customRadio {
      border: 8px solid var(--helper-primary);
      background-color: #fff;
      &.smallCircle {
        border: 5px solid var(--helper-primary);
      }
    }
  }
  .radioLabel {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-transform: capitalize;
    color: var(--txt-c-1);
    cursor: pointer;
    .customRadio {
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 50%;
      border: 1px solid var(--txt-c-3);
      transform: 0.15s;
      margin-right: 1.2rem;
      background-color: var(--sm-popup-bg);

      &.smallCircle {
        width: 1.8rem;
        height: 1.8rem;
        margin-right: 0.8rem;
      }
    }
    &.bold {
      font-weight: 600;
    }
    // .smallRadio
  }
}

.squareCheckbox {
  input {
    display: none;
  }
  input:checked ~ label .square::before {
    display: block;
  }
  label {
    display: flex;
    align-items: center;
    padding-top: 0.8rem;
    color: var(--txt-c-1);
    .square {
      border: 1px solid var(--txt-c-3);
      border-radius: 3px;
      box-sizing: border-box;
      display: inline-block;
      height: 16px;
      margin: 0 8px 0 3px;
      position: relative;
      width: 16px;
      &:active {
        border: 1px solid var(--txt-c-4);
        box-shadow: inset 0 0 0 1px var(--txt-c-4);
      }
      &::before {
        display: none;
        border-bottom: 2px solid var(--txt-c-1);
        border-left: 2px solid var(--txt-c-1);
        content: " ";
        // display: block;
        height: 3px;
        left: 2px;
        position: absolute;
        top: 3px;
        transform: rotateZ(-45deg);
        width: 8px;
      }
    }
    .labeltext {
      font-size: 1.2rem;
      width: 50%;
      flex: 0 0 auto;
      font-weight: 500;
    }
  }
}
