@import "./../../styles/include-media.scss";

.container {
  margin: 0 1rem;
  // min-height: 85rem;
  @include media("<=tablet") {
    margin: 0;
  }
}
.sideAndMainParent {
  position: relative;
  background-color: var(--bg-c-1);
  width: 100%;
  display: flex;
  max-width: 97.5rem;
  margin: 0 auto;
  margin-top: 8rem;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--txt-c-4);
  @include media("<=tablet") {
    margin-top: 5.8rem;
  }
  @include media("<=phone") {
    margin-top: 4.4rem;
  }
  // padding: 1rem;
}
.header {
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-c-4);
  padding: 0rem 1rem;
  border-bottom: solid 1px var(--txt-c-4);
  font-weight: 500;
  @include media("<=tablet") {
    display: flex;
  }
}
.mainHeader {
  svg {
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
    path:nth-child(2) {
      stroke: var(--txt-c-1);
    }
  }
}

.navHeader {
  .cross {
    width: 3rem;
    height: 4.5rem;
    cursor: pointer;
  }
  svg {
    display: block;
    height: 100%;
  }
  path {
    fill: var(--txt-c-1);
    stroke: var(--txt-c-1);
  }
  @include media("<=tablet") {
    display: flex;
  }
}
.sideBar {
  border-right: 1px solid var(--txt-c-4);
  width: 23.6rem;
  z-index: 2;
  flex-shrink: 0;
  @include media("<=tablet") {
    position: absolute;
    width: 100%;
    background-color: var(--bg-c-1);
    height: 100vh;
    transition: 0.3s;
    transform: translateX(-100%);
    &.open {
      transform: translateX(0);
    }
  }

  li {
    @include media("<=tablet") {
      border-bottom: solid 1px var(--txt-c-4);
      &:last-of-type {
        border-bottom: none;
      }
    }
    a {
      font-size: 1.4rem;
      color: var(--txt-c-1);
      display: block;
      padding: 1.3rem;
      padding-left: 3rem;
      border-left: solid 2px transparent;
      @include media("<=tablet") {
        font-size: 1.6rem;
        padding-left: 1rem;
        border-left: none;
      }
      &:hover {
        background-color: var(--bg-c-4);
        border-left: solid 2px var(--txt-c-3);
        @include media("<=tablet") {
          border-left: none;
        }
      }
    }
    &.active {
      a {
        border-left: solid 2px var(--txt-c-1);
        @include media("<=tablet") {
          border-left: none;
        }
        font-weight: 500;
        &:hover {
          background-color: var(--bg-c-1);
          border-left: solid 2px var(--txt-c-1);
          @include media("<=tablet") {
            border-left: none;
          }
        }
      }
    }
  }
}
.mainSide {
  flex-grow: 1;
  @include media("<=phone") {
    width: 100%;
  }
}
.emailNotifSection {
  margin: 4rem 3.2rem 3.2rem 6.4rem;
  @include media("<=tablet") {
    margin: 0 !important;
    padding-bottom: 6rem;
  }
}
.radiosParent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
  padding-left: 1rem;
}
.minisectionProps {
  border-bottom: solid 1px var(--txt-c-3);
  @include media("<=tablet") {
    padding: 0 2rem;
  }
  &.noBorder {
    border-bottom: none;
  }
  &:last-of-type {
    border-bottom: none;
  }
  .bigHeading {
  }
  .smallHeading {
    color: var(--txt-c-1);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.3;
    padding: 2.5rem 0 2rem;
  }
  .description {
    color: var(--txt-c-2);
    font-size: 1.1rem;
    padding: 0.5rem 0;
  }
}

.flexSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputLableDescContainer {
  display: flex;
  margin-bottom: 2rem;
  @include media("<=tablet") {
    flex-direction: column;
    padding: 1.6rem;
    margin-bottom: 0rem;
  }
  .labelSide {
    flex-basis: 19.4rem;
    text-align: right;
    padding: 0 3.2rem;
    font-weight: 500;
    color: var(--txt-c-1);
    @include media("<=tablet") {
      flex-basis: auto;
      text-align: left;
      padding: 1.6rem 0;
    }
    label {
      display: block;
      margin-top: 0.6rem;
    }
  }
}
.inputsSide {
  flex-basis: 355px;
  &.large {
    flex-basis: 442px;
  }
  @include media("<=tablet") {
    flex-basis: auto;
    &.large {
      flex-basis: auto;
    }
  }
  .descriptionContaienr {
    margin-top: 1.6rem;
  }
  .descTitle {
    color: var(--txt-c-2);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  .description {
    color: var(--txt-c-2);
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    line-height: 1.8rem;
    // &:first-child {
    // }
  }
}
.changePPContainer {
  display: flex;
  align-items: center;
  margin-top: 1.6rem;
  padding: 2rem 0;
  @include media("<=tablet") {
    justify-content: center;
  }
  .changePPLeft {
    flex-basis: 19.4rem;
    padding: 0 3.2rem;
    label {
      cursor: pointer;
    }
    @include media("<=tablet") {
      .changePPLeft {
        padding: 0 1rem;
      }
    }
  }
  .changePPRight {
    flex-basis: 355px;
    color: var(--txt-c-1);
    .changePPUserName {
    }
    label {
      display: block;
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--helper-primary);
      cursor: pointer;
    }
  }
}

.selectThemeContainer {
  min-height: 51rem;
  padding: 0 1.6rem;
  @include media("<=tablet") {
    padding: 0;
  }
}
.appsAndWebsites,
.emailsFromInstagram {
  padding: 5rem;
  min-height: 51rem;
  @include media("<=tablet") {
    padding: 2rem 1.6rem;
  }
  div[role="tablist"] {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
  }
  div[role="tab"] {
    flex-grow: 1;
    color: var(--txt-c-3);
    transition: 0.3s;
    padding: 1rem;
    border-bottom: solid 1px var(--txt-c-3);
    text-align: center;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    &[aria-selected="true"] {
      // background-color: red;
      border-bottom: solid 1px var(--txt-c-1);
      color: var(--txt-c-1);
    }
  }
  div[role="tabpanel"] {
    margin-top: 3rem;
    font-weight: 300;
    line-height: 2rem;
    color: var(--txt-c-1);
    > div:first-child {
      font-size: 1.4rem;
      margin-bottom: 2rem;
    }
    > div:last-child {
      font-size: 1.2rem;
      color: var(--txt-c-2);
    }
    &[aria-hidden="true"] {
      display: none;
    }
  }
}
.emailsFromInstagram div[role="tabpanel"] > div:first-child {
  font-size: 2rem;
  line-height: 2.5rem;
}

.manageContacts {
  padding: 3rem 6rem;
  min-height: 51rem;
  color: var(--txt-c-1);
  p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .divUnderline {
    border-bottom: solid 1px var(--txt-c-4);
    margin: 2rem 0;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.changePasswordSection {
  min-height: 51rem;
  display: flex;
  flex-direction: column;
  .picUsername {
    display: flex;
    align-items: center;
    padding: 3rem 0;
    > div:first-child {
      flex-basis: 19.4rem;
      display: flex;
      justify-content: flex-end;
      padding-right: 3.2rem;
      @include media("<=tablet") {
        flex-basis: auto;
        padding: 0 1.6rem;
        justify-content: start;
      }
    }
  }
}

.HelpContainer {
  min-height: 51rem;
  padding: 3rem 6rem;
  color: var(--txt-c-1);
  @include media("<=tablet") {
    padding: 2rem 4rem;
  }
  @include media("<=phone") {
    padding: 1rem 2rem;
  }
  h2 {
    margin-bottom: 3rem;
  }
  .helpCard {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .helpText {
    line-height: 1.3;
    padding: 1.6rem 0;
  }
  .helpArrowContainer {
    // width: 3rem;
    // height: 3rem;
    svg {
      width: 2.6rem;
      height: 2.6rem;
      path {
        fill: var(--txt-c-1);
      }
    }
  }
}
