@import "../../styles/include-media.scss";
.postHeader {
  width: 100%;
  padding: 1.2rem;
  @include media("<=phone") {
    padding: 0.2rem 1.2rem;
  }
  padding-right: 1.5rem;
  background-color: var(--bg-c-1);
  border-radius: 0.3rem 0.3rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > svg {
    cursor: pointer;
    fill: var(--txt-c-1);
  }
}
.postBody {
  width: 100%;
  position: relative;
  .pauseLayer {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    .slider {
      -webkit-appearance: none;
      outline: none;
      background: linear-gradient(
        to right,
        #fff 0%,
        #fff 40%,
        #aaaaaa7a 40%,
        #aaaaaa7a 100%
      );
      transition: 0.2s;
      position: absolute;
      width: 90%;
      height: 2px;
      bottom: 19px;
      left: 1rem;
      transform: translateY(30px);
      cursor: pointer;
      &:hover {
        height: 4px;
        &::-webkit-slider-thumb {
          height: 0.8rem;
        }
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.8rem;
        height: 0rem;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
      }
    }
    &:hover {
      .slider {
        transform: translateY(0);
      }
      .volume {
        pointer-events: auto;
        opacity: 1;
      }
    }
    .volume {
      opacity: 0;
      transition: 0.2s;
      pointer-events: none;
      -webkit-appearance: none;
      position: absolute;
      transform: rotate(-90deg);
      width: 7rem;
      bottom: 10.6rem;
      height: 0.2rem;
      right: 2.1rem;
      transform-origin: right;
      background: linear-gradient(
        to right,
        #fff 0%,
        #fff 50%,
        #aaaaaa7a 50%,
        #aaaaaa7a 100%
      );
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background: #fff;
        cursor: pointer;
      }
    }
  }
  .muteBtn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    width: 2.2rem;
    aspect-ratio: 1;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    &:active {
      background-color: rgb(53, 53, 53);
    }
    svg {
      width: 1rem;
    }
  }
}
.postReactions {
  width: 100%;
  padding: 1.2rem;
  // padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 1rem;
  position: relative;
  > div:first-child {
    svg {
      margin-right: 1.5rem;
    }
  }
  svg {
    cursor: pointer;

    path {
      stroke: var(--txt-c-1);
    }
    &:hover path {
      stroke: var(--txt-c-2);
    }
  }
}
// PostBottomPart
.postBottomPart {
  padding: 0 1.2rem;
  .viewComments {
    font-size: 1.4rem;
    color: var(--txt-c-2);
    padding: 0.7rem 0;
    > div {
      cursor: pointer;
      display: inline-block;
    }
  }
  .nbrOfLikes {
    font-size: 1.4rem;
    > div {
      cursor: pointer;
      display: inline-block;
    }
  }
}
.date {
  font-size: 1rem;
  color: var(--txt-c-2);
  padding: 0.7rem 0;
  padding-bottom: 1.5rem;
}
