@import "../../styles/include-media.scss";
.postHeader {
  width: 100%;
  padding: 1.2rem;
  @include media("<=phone") {
    padding: 0.2rem 1.2rem;
  }
  padding-right: 1.5rem;
  background-color: var(--bg-c-1);
  border-radius: 0.3rem 0.3rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  > svg {
    cursor: pointer;
    fill: var(--txt-c-1);
  }
}
.postBody {
  width: 100%;
  height: 500px;
  background-color: #000;
}
.postReactions {
  width: 100%;
  padding: 1.2rem;
  // padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 1rem;
  > div:first-child {
    svg {
      margin-right: 1.5rem;
    }
  }
  svg {
    cursor: pointer;

    path {
      stroke: var(--txt-c-1);
    }
    &:hover path {
      stroke: var(--txt-c-2);
    }
  }
}
.CommentInput {
}
