//max-width 47rem
.postMain {
  width: 47rem;
  // height: 50rem;
  margin-bottom: 2rem;
  // border: solid 1px black;
  background-color: var(--bg-c-1);
  box-shadow: 0 0 0 0.02rem var(--txt-c-2);
  border-radius: 0.4rem;
}
.commentInputContainer {
  padding: 0.5rem 0;
  // box-shadow: 0 -1px 0 #eaeaea;
  box-shadow: 0 -1px 0 var(--txt-c-4);
}
