.main {
  background-color: #016aea40;
  margin-top: 8rem;
  max-width: 82.1rem;
}
.suggestions {
  width: 100%;
  height: 30rem;
  max-width: 32rem;
  background-color: rgb(255, 131, 255);
  position: fixed;
  z-index: -1;
}
